:root {
    --light-primary-color: #a7cf5d;
    --light-primary-bg: #f9ebc4;
    --dark-primary-color: white;
    --dark-primary-bg: black;
}

@font-face {
    font-family: 'Noto Sans KR';
    src: url('../../public/fonts/Trap-Regular.otf') format('otf');
    font-weight: 400;
}

* {
    border: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--light-primary-color);
    background-color: var(--light-primary-bg);
}
